/* Global Styles*/

h1,
h2,
p {
	font-family: 'Montserrat', sans-serif;
	color: #222831;
}

h1 {
	font-weight: 900;
	font-size: 55px;
	line-height: 75px;
}

h2 {
	font-weight: 700;
	font-size: 35px;
	line-height: 50px;
}

p {
	font-weight: 400;
	font-size: 18px;
	color: #393E46;
}

img {
	width: 80%;
}

button {
	padding: 15px 65px;
	border-radius: 58px;
	background-color: #00ADB5;
	border: solid 3px #00ADB5;
	color: #F6F1F1;
	text-transform: capitalize;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

button:hover {
	background-color: #00acb500;
	border: solid 3px #00ADB5;
	color: #00ADB5;
}


/* Menu */

#menu {
	background-color: #222831;
}

.nav-link {
	text-transform: capitalize;
	color: #F6F1F1;
	text-transform: capitalize;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.nav-link:hover {
	color: #00ADB5;
}

.nav-link.active {
	background-color: #00ADB5 !important;
}


/* Hero Section */

#hero-section {
	background-color: #EEEEEE;
	text-align: center;
	padding: 15% 25%;
}

#hero-section button {
	margin-top: 50px;
}

.hero-button-primary {
	margin-right: 5px;
}

.hero-button-secondary {
	border-color: #00ADB5;
	background-color: #e6e9f000;
	color: #00ADB5;
	margin-left: 5px;
}

.hero-button-secondary:hover {
	border-color: #00ADB5;
	background-color: #00ADB5;
	color: white;
}

/* Sign-up Documentation */

.documentation {
	text-align: left;
	margin: 4% 15% 4% 15%;
	padding: 30px;
	border: solid 1px #393E46;
	background-color: #EEEEEE65;
	border-radius: 8px;

	font-family: 'Overpass Mono', monospace;
	font-weight: bold;
}

.documentation p {
	font-family: 'Overpass Mono', monospace;
}

/* Sign-up Section */

#sign-up {
	padding: 5% 0;
}

.contact-column-left {
	display: flex;
	align-items: flex-end;
}

.contact-desktop {
	display: block;
}

.contact-mobile {
	display: none;
}

@media (max-width: 767px) {

	/* show the mobile image on screens up to 767px */
	.contact-desktop {
		display: none;
	}

	.contact-mobile {
		display: block;
	}
}


form label,
form input,
form select,
form textarea {
	display: block;
	margin-bottom: 1rem;
	width: 100%;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form select,
form textarea {
	border: solid #e6e9f0 1px;
	border-radius: 8px;
	padding: 10px 20px;
}

form input[type="email"]:hover,
form input[type="email"]:focus,
form input[type="text"]:hover,
form input[type="text"]:focus,
form input[type="number"]:hover,
form input[type="number"]:focus,
form select:hover,
form select:focus,
form textarea:hover,
form textarea:focus {
	border: solid #00ADB5 2px;
}

form textarea {
	height: 150px;
}

form input[type="checkbox"] {
	width: fit-content;
	display: inline;
}

form label {
	font-weight: 600;
	font-size: 14px;
	color: #00adb5;
	margin-bottom: 5px;
}

form button {
	margin-top: 25px;
	width: 100%;
}


/* Conditional Logic */

#conditional-logic {
	text-align: center;
	padding: 5% 25%;
	margin: 5% 0;
	background-color: #EEEEEE;
}

#conditionalForm {
	column-gap: 0;
	padding: 3% 0;
}

#conditionalForm input {
	display: inline;
	width: auto;
	height: 65px;
	line-height: 65px;
	border-radius: 58px 0 0 58px;
	margin: 0;
	border: solid #e6e9f0 2px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
}

#conditionalForm button {
	display: inline;
	width: auto;
	height: 65px;
	/* line-height: 65px; */
	border-radius: 0 58px 58px 0;
	margin: 0;
	vertical-align: middle;
}

.conditional-logic-red {
	display: none;
}

.conditional-logic-green {
	display: none;
}

#conditional-logic-documentation {
	padding-bottom: 0;
}


/* JS Loops */

#js-loops {
	padding: 5% 0;
}

.loop-left-column {
	padding-right: 90px;
}

.loop-right-column {
	display: flex;
	align-items: flex-end;
}

#while-loop-output {
	border-radius: 8px;
	border: solid #e6e9f0 2px;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	padding: 30px;
}

.loop-button {
	width: 100%;
	margin-top: 15px;
}


/* Lab 9 */
#js-events {
	background-color: #00ADB5;
	text-align: center;
	padding: 5%;
	color: white;
}

#js-events-p {
	font-weight: 400;
	color: #EEEEEE;
	margin-bottom: 50px;
}

.light-button-primary {
	background-color: #EEEEEE;
	color: #222831;
	margin-right: 5px;
}

.light-button-secondary {
	border-color: #EEEEEE;
	color: #EEEEEE;
	background-color: #EEEEEE00;
	margin-left: 5px;
}

.light-button-primary:hover {
	background-color: #EEEEEE00;
	color: #EEEEEE	;
	border-color: #EEEEEE;
}

.light-button-secondary:hover {
	border-color: #EEEEEE;
	color: #222831;
	background-color: #EEEEEE;
}